User-Agent string violates RFC9113

Downloading an image with HTTP/2 results in a message:

HTTP/2 stream 0 was not closed cleanly: PROTOCOL_ERROR (err 1)

I tracked down the issue to the user-agent string that ends with a whitespace character. It is defined in downloader.rb, line 24 as

USER_AGENT = "Vagrant/#{VERSION} (+https://www.vagrantup.com; #{RUBY_ENGINE}#{RUBY_VERSION}) #{ENV['VAGRANT_USER_AGENT_PROVISIONAL_STRING']}".freeze

If no VAGRANT_USER_AGENT_PROVISIONAL_STRING is set, a whitespace is the last character. This violates RFC 9113, Section 8.2.1:

*  A field value MUST NOT start or end with an ASCII whitespace
      character (ASCII SP or HTAB, 0x20 or 0x09).

      |  Note: An implementation that validates fields according to the
      |  definitions in Sections 5.1 and 5.5 of [HTTP] only needs an
      |  additional check that field names do not include uppercase
      |  characters.

   A request or response that contains a field that violates any of
   these conditions MUST be treated as malformed (Section 8.1.1).  In
   particular, an intermediary that does not process fields when
   forwarding messages MUST NOT forward fields that contain any of the
   values that are listed as prohibited above.